<div class="center-block well text-center">
    <div ng-if="isAuthenticated() && hasPermissions()"><h3>Are you sure?</h3>
        <button id="confirm-delete" ng-click="deleteAuthor()" class="btn btn-danger">Delete</button>
        <a id="cancel-delete" ui-sref="authorsList" class="btn btn-info">Cancel</a>
    </div>
    <div class="container" ng-if="isAuthenticated() && !hasPermissions()">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1 class="float-left display-3 mr-4">403 Forbidden</h1>
                <h4 >You do not have permission for this action.</h4>
                <p >Contact the administrator to obtain permission.</p>
            </div>
        </div>
    </div>
</div>
